@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@supports (-webkit-touch-callout: none) {
  .parallax-container {
    height: -webkit-fill-available;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .default-glass {
    position: relative;
    background-color: rgba(29, 45, 73, 0.97);
    box-shadow: inset 72.433px -72.433px 72.433px 0px rgba(165, 165, 165, 0.11),
      inset -72.433px 72.433px 72.433px 0px rgba(255, 255, 255, 0.11);
    z-index: 5;
    /* box-shadow: inset 0 0 20px #ffffff; /* Inner shadow */
    /* backdrop-filter: blur(20px); Background blur */
  }
}
