.project-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.project-card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-10px) rotate(2deg);
  }
}

@media (min-width: 768px) {
  .project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
  }
}

.download-resume-btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #e63e60;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  border-radius: 30px;
  transition: all 0.3s ease;
  border: 2px solid #e63e60;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
}

.download-resume-btn:hover {
  background-color: transparent;
  color: #e63e60;
}
